@import "tailwindcss";

.rubik-300 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-500 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@theme {
  /* color */

  /* Primary */
  --color-cust-purple-600: hsl(246, 80%, 60%);

  --color-purple-socia: hsl(264, 64%, 52%);
  --color-orange-work: hsl(15, 100%, 70%);
  --color-blue-play: hsl(195, 74%, 62%);
  --color-pink-study: hsl(348, 100%, 68%);
  --color-green-exercise: hsl(145, 58%, 55%);
  --color-yellow-selfCare: hsl(43, 84%, 65%);

  /* Neutral */
  --color-cust-purple-500: hsl(235, 45%, 61%);
  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-navy-200: hsl(236, 100%, 87%);

  /* Typography */

  /* Font size */
  --text-title: 18px; /*card titles -> work, play, etc*/

  /* Screen sizes */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}

